:root {
  --bodyBg: #fff !important;
  --progressBar: #54d1db;
}

body {
  background-color: var(--bodyBg) !important;
}

#header {
  background: var(--headerBg);
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.product-img {
  width: 100%;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

.slick-dots {
  left: -65px;
  top: 45.5%;
  width: 15%;
  height: 2px;
  transform: rotate(90deg);
}

.slick-dots li {
  margin: 0;
  width: 30px;
}

.slick-dots li .dot-cont:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #fff;
  content: '';
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active .dot-cont:before {
  opacity: 0.75;
  background: #007bff;
}

.nav-item {
  cursor: pointer;
}

@media (max-width: 768px) {
  .slide-container {
    margin-top: 75px;
    margin-left: unset;
    margin-right: unset;
    margin-bottom: unset;
  }
}
